---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "bootstrap";


img.logo {
  max-width: 100px;
}

table.table.availability td.ticked {
  background: url(/assets/img/tick.png) 0 0 no-repeat;
  background-size: 20px;
  background-position: center;
}